<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700905798457-571mao6672vld4vpbgcgj1det1spttg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700905798457-571mao6672vld4vpbgcgj1det1spttg3</string>
	<key>API_KEY</key>
	<string>AIzaSyC7f8oBhSlWulz6OKptKe-mnI0F4FFypKs</string>
	<key>GCM_SENDER_ID</key>
	<string>700905798457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olympuslabs.xplore</string>
	<key>PROJECT_ID</key>
	<string>xplore-a7012</string>
	<key>STORAGE_BUCKET</key>
	<string>xplore-a7012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700905798457:ios:b3762811940cfb83c446e8</string>
	<key>DATABASE_URL</key>
	<string>https://xplore-a7012-default-rtdb.firebaseio.com</string>
</dict>
</plist>
